<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="users" type="java.util.List"*/-->
<!--/*@thymesVar id="user" type="guru.springframework.api.domain.User"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Users from API</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Street</th>
                                <th>Suite</th>
                                <th>City</th>
                                <th>Zipcode</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Phone</th>
                                <th>Website</th>
                                <th>Company Name</th>
                                <th>Catch Phrase</th>
                                <th>Business</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}">1</td>
                                <td th:text="${user.name}">Leanne Graham</td>
                                <td th:text="${user.username}">Bret</td>
                                <td th:text="${user.email}">Sincere@april.biz</td>
                                <td th:text="${user.address.street}">Kulas Light</td>
                                <td th:text="${user.address.suite}">Apt. 556</td>
                                <td th:text="${user.address.city}">Gwenborough</td>
                                <td th:text="${user.address.zipcode}">92998-3874</td>
                                <td th:text="${user.address.geo.lat}">-37.3159</td>
                                <td th:text="${user.address.geo.lng}">81.1496</td>
                                <td th:text="${user.phone}">1-770-736-8031 x56442</td>
                                <td th:text="${user.website}">hildegard.org</td>
                                <td th:text="${user.company.name}">Romaguera-Crona</td>
                                <td th:text="${user.company.catchPhrase}">Multi-layered client-server neural-net</td>
                                <td th:text="${user.company.bs}">harness real-time e-markets</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>